<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dashboard-Munay</title>
  <!--=============== CSS indicators ===============-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  
  <!--=============== CSS battery ===============-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


  <!--=============== CSS clock ===============-->
  <link rel="stylesheet" href="{{ url_for('static', filename='/clock.css') }}">


</head>


<!--=============== clock ===============-->
<body onload="initClock()">
   <div class="datetime">
       <div class="time">
           <span id="hour">00</span>:
           <span id="minutes">00</span>
           <span id="period">AM</span>
       </div>
   </div>
   <script type="text/javascript">
    function updateClock(){
      var now=new Date();
        hou=now.getHours(),
        min=now.getMinutes(),
        pe="AM";
        if(hou == 0){
            hou = 12;
        }
         if(hou > 12){
            hou = hou - 12;
            pe= "PM";
        }
        Number.prototype.pad=function(digits){
            for(var n=this.toString(); n.length < digits; n=0+n);
            return n;
        }
        var ids=["hour","minutes","period"];
        var values=[hou.pad(2),min.pad(2),pe];
        for(var i=0; i<ids.length; i++){
            document.getElementById(ids[i]).firstChild.nodeValue = values[i];
        }
    }
        function initClock(){
            updateClock();
            window.setInterval("updateClock()",1);
        }
    </script>

 <!--=============== dashboard ===============-->
<div id="dashboard">
 
  <div id="speedmeter">
    <div class="gauge">
		
		<div class="digit">
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			
			<div class="label">0</div>
		</div>
		
		
		<div class="digit">
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			<span class="highlighted separating line"></span>
			<span class="line"></span>
			
			<div class="label">5</div>
		</div>
		
		<div class="digit">
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			
			<div class="label">10</div>
		</div>
		
		<div class="highlighted digit">
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			
			<div class="label">15</div>
		</div>
		
		<div class="digit">
			<span class="line"></span>
			<span class="highlighted separating line"></span>
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			
			<div class="label">20</div>
		</div>

		<div class="digit">
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			
			<div class="label">25</div>
		</div>
		
		<div class="digit">
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			
			<div class="label">30</div>
		</div>
		
		<div class="digit">
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			<span class="separating line"></span>
			<span class="line"></span>
			
			<div class="label">35</div>
		</div>
		
		<div class="digit">
			
			
			<div class="label">40</div>
		</div>
		
		<div class="pointer">
			<div class="hand"></div>
		</div>
		
    </div>
  </div>	
</div>

<!--=============== BATTERY ===============-->
<section class="battery">
  <div class="battery__card">
    <div class="battery__data">
      <h1 class="battery__percentage" id="batteryPercentage"></h1>
      <p class="battery__status">Low battery <i class="ri-plug-line"></i></p>
    </div>

    <div class="battery__pill">
      <div class="battery__level">
        <div class="battery__liquid"></div>
      </div>
    </div>
  </div>
  <!--=============== js ===============-->
  <script>
    fetch("/get_battery_percentage")
      .then(response => response.json())
      .then(data => {
        var batteryPercentage = document.getElementById("batteryPercentage");
        batteryPercentage.textContent = data.percentage + " %";
  
        // Assuming you have a div with id "batteryWidget" for the widget
        var batteryWidget = document.getElementById("battery_liquid");
  
        // Assuming you have different styles for different battery levels (adjust as needed)
        if (data.percentage > 80) {
          batteryWidget.style.backgroundColor = "green";
        } else if (data.percentage > 50) {
          batteryWidget.style.backgroundColor = "yellow";
        } else {
          batteryWidget.style.backgroundColor = "red";
        }
  
        // Assuming you have a div with id "batteryLevel" for the level indicator
        var batteryLevel = document.getElementById("battery_level");
        batteryLevel.style.width = data.percentage + "%";
      })
      .catch(error => {
        console.error("Error fetching battery percentage:", error);
      });
  </script>
  
  
     <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </section>
  
  </body>
  </html>